<!DOCTYPE html>
<html>
<head>
    <title>System configuration</title>
</head>
<body>
    <h1>Configure the system</h1>

<p>Once you have modified the system configuration, it is important to <a href='/restart'>restart the IoT Controller</a> for the configuraton to take effect.</p>

    <a href='/'>Back to the index</a>

    <a href='/logout'>Logout</a>

    <h2>Add a configuration</h2>

    <form action='/add_configuration' method='post'><!--sends data like an attachment in an email -->
        <fieldset><legend>CONDITIONS</legend>
        <div id="conditions">
        </div>
        <a href='Javascript:addCondition("conditions")'>more</a>
        </fieldset>
        <fieldset><legend>RESULTS</legend>
        <div id='results'>
        </div>
        <a href='Javascript:addResult("results")'>more</a>
        </fieldset> 
       <input type='submit' value='Send!' />
    </form>

    <h2>Delete a configuration</h2>

    <form action='/delete_configuration' method='post'>
        <select name='rule_to_delete'>
            {% for index in range(config|length) %}
                <option value='{{ index }}'>{{ config[index]|jsonstring }}</option>
            {% endfor %}
        </select>
        <input type='submit' value='Delete configuration' />
    </form>

    <h2>Edit a configuration</h2>

    <form action='/edit_configuration' method='post' id='editForm'>
        <select name='rule_to_edit' id='ruleSelect' onchange='loadRuleFields()'>
            {% for index in range(config|length) %}
                <option value='{{ index }}'>{{ config[index]|jsonstring }}</option>
            {% endfor %}
        </select>

        <fieldset><legend>CONDITIONS</legend>
        <div><div id="conditionsEdit"></div><a href='Javascript:addCondition("conditionsEdit")'>more</a></div>
        </fieldset>
        <fieldset><legend>RESULTS</legend>
        <div><div id="resultsEdit"></div><a href='Javascript:addResult("resultsEdit")'>more</a></div>
        </fieldset>
    
        <input type='submit' value='Modify configuration' />
    </form>

<script>
    function loadRuleFields() {
        var selectedIndex = document.getElementById('ruleSelect').selectedIndex;
        var selectedOptionText = document.getElementById('ruleSelect').options[selectedIndex].text;

        try {
            var selectedRule = JSON.parse(selectedOptionText);

            var conditionsDiv = document.getElementById('conditionsEdit');
            conditionsDiv.innerHTML = ''; // Clear previous fields

            var resultsDiv = document.getElementById('resultsEdit');
            resultsDiv.innerHTML = ''; // Clear previous fields

            // Load conditions
            selectedRule.conditions.forEach(function (condition) {
                addCondition(conditionsDiv, condition.topic, condition.comparison, condition.value);
            });

            // Load results
            selectedRule.results.forEach(function (result) {
                addResult(resultsDiv, result.topic, result.value);
            });
        } catch (error) {
            console.error('Error parsing JSON:', error);
        }
    }

    function addCondition(target, topic="", comparison="", value=""){
        target = convertTarget(target);
        var conditionDiv = document.createElement('div');
        conditionDiv.innerHTML = `
            <label>MQTT Topic:<input type="text" name="topic[]" value="${topic}" placeholder="Topic"></label>
            <label>Comparison operator:<input type="text" name="comparison[]" value="${comparison}" placeholder=">, >=, <, etc."></label>
            <label>Comparison value:<input type="text" name="value[]" value="${value}" placeholder="50"></label>
            <a href="javascript:void(0);" onclick="removeParent(this)">Remove</a>
        `;
        target.appendChild(conditionDiv);
    }

    function addResult(target, topic="", value=""){
        target = convertTarget(target);
        var resultDiv = document.createElement('div');
        resultDiv.innerHTML = `
            <label>Result topic:<input type="text" name="result_topic[]" value="${topic}" placeholder="Topic"></label>
            <label>Result value:<input type="text" name="result_value[]" value="${value}" placeholder="On!"></label>
            <a href="javascript:void(0);" onclick="removeParent(this)">Remove</a>
        `;
        target.appendChild(resultDiv);
    }

    function convertTarget(target){
        if((typeof target) === "string")
            return document.getElementById(target);
        else
            return target;
    }

    function removeParent(child) {
        var parentToRemove = child.parentNode;
        parentToRemove.parentNode.removeChild(parentToRemove);
    }
    
    addCondition("conditions");
    addResult("results");   
    // Trigger the function on page load if a rule is pre-selected
    window.onload = loadRuleFields;
</script>
</body>
</html>
