<!DOCTYPE html>
<html>
<head>
    <title>Flask application</title>
</head>
<body>
    <h1>Simple Flask Application</h1>
    <p>Flask applications allow us to serve data and output from Python programs.</p>

    <div>
        <label>Topic:<input type="text" id="topic" placeholder="enter a topic" /></label>
        <button onclick="getData()">Get the data</button>
    </div>

    <div id="result"></div>

    <script>
        function getData(){
            user_topic = document.getElementById('topic').value;
            user_topic = encodeURIComponent(user_topic); //URI encoding so all characters (esp. #) get sent

            url = `/historian?topic=${user_topic}`  // use backticks here to get string substitution

            fetch(url)
               .then(response => response.json())
               .then(data => displayData(data));
        }

        function displayData(data){
            resultDiv=document.getElementById("result");

            resultDiv.innerHTML = 'Tada:' + data;
        }

    </script>

</body>
</html>
